@import "tailwindcss";


.svg {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
    display: inline;
    height: 8%;
    width: 8%;
    margin-right: 5px;
}

.title {
    font-size: 16px;
    display: inline;

}